# Python
__pycache__/
*.pyc
.venv/
venv/

# Airflow
airflow/logs/
airflow/*.db

# dbt
dbt/target/
dbt/dbt_packages/

# Docker / secrets
.env
**/.env
**/.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
